*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family:  "Roboto", sans-serif;
    width: 100%;
   
}

header{
    background-color: rgb(6, 58, 6) ;
    color: rgba(255, 255, 255, 0.897);
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    border-bottom: 4px solid rgb(155, 6, 6);
    padding: 0.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    max-width: 500px;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
}


.data-border{
    border-bottom: 0.1px solid gray;
}

.data-border h2, .weather-border h2{
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
}


.data-border ul, .weather-border ul{
    list-style: none;
    padding: 1.2rem;

}

.data-border ul li span{
    text-align: left;
}


.data-border li, .weather-border li{
    margin-bottom: 1rem;
    text-align: center;
}

.data-border li span, .weather-border li span{
    font-weight: 600;
}

.weather-icon img{
    width: 50px;
    display: block;
    margin: 0 auto;
}


.hero-images img{
    height: auto;
    margin: 0.2rem;
    max-width: 100%;
    box-sizing: border-box;
}


.areas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    gap: 3px;
}